@import url('https://fonts.googleapis.com/css2?family=Koh+Santepheap&display=swap');

/* !! needed for event listeners in JS to work with paths */
.g_to_interact_with path{
    pointer-events: all;
}

h1 {
    font-family: 'Koh Santepheap', cursive;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

#svgSection {
    width: 50vw;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    margin-bottom: 40px;
}

#secondaryElements {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;

    text-align: center;
}

#colorPalette {
    display: flex;
}

.colorSquare {
    height: 50px;
    width: 50px;
    border: 1px solid grey;

    margin-right: 2px;
    margin-left: 2px;
}

.hoverOver {
    stroke: rgb(65, 65, 65);
    stroke-width: 2px;
}