#coolText {
    margin-top: 100px;
}

span {
    min-width: 5px;
}

.effect {
    animation: fadeIn;
    display: inline-block;
    animation-iteration-count: 1;
    transition-timing-function: ease-out;
    animation-duration: 1.5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(5vh);
    }
    70% {
        opacity: 1;
        transform: translateY(-1vh);
      }
    100% {
        transform: translateY(0vh);
      }
  }