@import url('https://fonts.googleapis.com/css2?family=Lora:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');



html {
    font-size: 16px;
    background-color: rgb(243, 234, 214);
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 40px;
    padding: 0;
}

h1 {
    font-family: 'Lora', serif;
    font-size: 2em;
    color: rgb(34, 44, 63);
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.3em;
    margin-bottom: 1.5em;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 1.1em;
    padding: 0;
    margin: 0;
}

.actor_list_container {
    padding: 25px;
    background-color: rgb(243, 243, 243);
    box-shadow: 0px 5px 17px 2px rgba(49,63,77,0.1);
    border-radius: 20px;
    width: 400px;
    margin-bottom: 1em;
    z-index: 5;
    height: auto;
}

.container_elements {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button1 {
    background-color: rgb(218, 155, 40);
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    max-width: fit-content;
    border-radius: 12px;
    cursor: pointer;
}

.button1:hover {
    background-color: rgb(204, 133, 0);
}

.button1 a {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.8em;
    color: white;
    letter-spacing: 1.5px;
}

.movie_container {
    position: fixed;
    left: 500px;
    top: 185px;
    height: 35px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 30px;
    background-color: rgb(243, 243, 243);
    box-shadow: 0px 5px 17px 2px rgba(49,63,77,0.1);
    border-radius: 20px;
    width: 300px;
    margin-bottom: 1em;
    z-index: 15;
    border: rgb(228, 164, 45, 0.75) 2px solid;
}

.hidden {
    display: none;
}
